<h1 class="title is-h1"><%= @type.type_name %> Candles</h1>

<p class='menu-label'><%= link_to "Candles", candles_path %> » <%= link_to "Candle Types", types_path %> » <%= link_to @type.type_name, "/types/#{@type.id}" %></p>

<section class='section is-flex'>
  <div class="tile is-flex is-flex-wrap-wrap">
    <%= render partial: '/candles/candle',
                collection: @type.candle.all,
                locals: {show_link: true} %>
  </div>
</section>