<div class="tile is-2 mb-5">
  <div class="card">
    <div class="card-content">
      <p class="title is-6"><%= link_to candle.scent.truncate(10), candle%></p>
      <P class="subtitle is-6">Type: <%= candle.type.type_name%></P>
      <p class="subtitle is-6">Price: <%= number_to_currency candle.price %></p>
    </div>
    <% if candle.image.present? %>
      <div class="card-image is-flex">
        <figure class="image">
          <%= image_tag candle.image, style: 'height:200px;width:130px', class: 'image'%>
        </figure>
      </div>
    <% end %>

    <div class="card-content">
      <% if cart.include?(candle) %>
        <%= button_to cart_path(candle), class: 'button is-danger is-fullwidth', method: :delete do %>
          Remove
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post do %>
          <%= hidden_field_tag(:id, candle.id, id: candle.id) %>
          <%= button_tag 'Add to Cart', class: 'button is-success is-fullwidth' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>