<h1 class="title is-h1"><%= link_to "Candles", "/candles" %></h1>
<div class="card">
  <div class="card-content">
    <h1 class="title is-h1"><%= @candle.scent %></h1>
    <p class="subtitle">Type: <%= @candle.type.type_name%></p>
    <p class="subtitle">Colour: <%= @candle.colour %></p>
    <p class="subtitle">Size: <%= @candle.size %></p>
    <p class="subtitle">Price: $<%=@candle.price %></p>
  </div>
  <% if @candle.image.present? %>
    <div class="card-image">
      <figure class="image">
        <%= image_tag @candle.image, style: 'height:400px;width:260px'%>
      </figure>
    </div>
  <% end %>

  <% if cart.include?(@candle) %>
    <%= button_to cart_path(@candle), method: :delete do %>
      Remove From Cart
    <% end %>
  <% else %>
    <%= form_with url: cart_index_path, method: :post do %>
      <%= hidden_field_tag(:id, @candle.id) %>
      <%= button_tag 'Add to Cart' %>
    <% end %>
  <% end %>
</div>