<h1>New Order</h1>

<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :shipping_address %><br>
    <%= form.text_field :shipping_address, :value =>  @customer.address%>
  </div>

  <%= form.hidden_field :date, :value => Date.today %>
  <%= form.hidden_field :order_status, :value => "Order Sent" %>
  <% province = Province.find(@customer.provinces_id) %>
  <%= form.hidden_field :pst, :value =>  province.pst %>
  <%= form.hidden_field :gst, :value =>  province.gst %>
  <%= form.hidden_field :hst, :value =>  province.hst %>
  <%= form.hidden_field :customer, :value =>  @customer %>

  <%
    cart = session[:shopping_cart]
    cart.each do |item|
      candle = Candle.find(item)
  %>
    <div class="card mb-5">
      <div class="card-content">
        <p class="card-header"><%=candle.scent%></p>
        <p class="content"><%=candle.price%></p>
        <p class="content"><%=candle.size%></p>
      </div>
    </div>
      <%
    end
  %>


  <div>
    <%= form.submit %>
  </div>
<% end %>